*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
}

/* generals */

body{
    background-color: black;
    height: 100vh;
}

a{
    text-decoration: none;
    color: white;
}
/* header */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    z-index: 99;
}

.fixup {
    background-color: grey;
    border-radius: .5em;
    padding: .5em;
    font-size: small;
}

.view{
    position: absolute;
    top: 10px;
    right: 40px;
}

.size{
    position: absolute;
    top: 10px;
    right: 5px;
}

.view:hover{
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 1em;
}

.size:hover{
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 1em;
}

/* main */

.box-cam{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 4rem auto 4rem;
    padding: 2em;
    gap: .5em;
    overflow-y: auto;
    position: relative;
}

.cam{
    display: flex;
    position: relative;
    flex-basis: ((100% / 7) - 2em);
}

.cam-text{
    position: absolute;
    bottom: 2px;
    left: 2px;
    color: white;
    background-color: rgba(82, 80, 80, 0.7);
}




/* footer */

footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    z-index: 99;
    background-color: rgb(64, 64, 65);
}

.icon-box{
    display: flex;
}

.icon-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 1em;
    color: white;
    font-size: .7em;
    flex: 0 1 auto;
}

.icon i{
    font-size: 1.5em;
}

.fa-share-from-square{
    color: rgb(54, 196, 54);
}

.end-meeting{
    color: rgb(154, 18, 18);
    display: flex;
    height: 100%;
}

.end-meeting:hover{
    color: rgb(154, 18, 18);
    display: flex;
    height: 100%;
    background-color: grey;
}